.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-area: players;
}

@media screen and (max-width: 1200px) {
  .players {
    grid-template-columns: repeat(2, 1fr);
  }
}
